body {
    background: linear-gradient(to right, #6a5c9c, #2ea376);
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.contenedor-nav {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #180d3f, #062016);

}

.nav {
    
    height: 50px;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    align-content: center;
}

.nav li {
    list-style: none;
}

.nav-menu {
    margin: 0;
    padding: 0;
    flex-basis: 50px;
    flex-grow: 1;
    min-width: 100px;
}

.nav-menu a {
    text-decoration: none;
    font-size: 25px;
}