@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #6a5c9c, #2ea376);
    transition: background-color 2s;
}

.contenedor-img {
    width: auto;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-img .div-img {
    display: flex;
}

.div-img {
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    overflow: hidden;
}

.img-formato {
    height: 300px;
    width: 350px;
    border-radius: 300px;

}

.presentacion-section {
    height: 60%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Centra los elementos horizontalmente */
    align-items: center;
    gap: 100px;
}

.titulo-presentacion {
    height: 100px;

}

.titulo-presentacion .titulo-h1 {

    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid #32bd26 10px top;
    border-radius: 10px;
}

.titulo-h1 {
    height: 100%;
    background: linear-gradient(to left, #d3c6d8, #1d3ca3);
    color: rgb(234, 236, 235);
    justify-content: center;
    align-items: center;
    text-align: center;
}


.item-li {
    display: grid;
    place-items: center;
}

.item-li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.art-li {
    display: grid;
    place-items: center;
    min-width: 200px;
    min-height: 100px;
    font-size: 30px;
    background-color: rgb(78, 145, 87);
    border: 4px solid rgb(80, 192, 46);
    border-radius: 50px;
}

.art-li:hover {
    transition: 1.15s;
    text-align: center;
    background-color: rgb(236, 149, 8);
    border: 5px solid rgb(17, 221, 44);
    border-radius: 25px;
}


/* cargado por js*/
.cargando {
    background-color: rgb(0, 0, 19);
    /* cargar de img de font
    background: url(../img/fondo-dos-presentacion.jpeg) no-repeat center fixed; 
    background-size: cover;
    */

}

.footer-presentacion {
    margin-top: 50px;
    height: 50px;
    background: linear-gradient(to left, #6a5c9c, #2ea376);
    background: linear-gradient(to left, #191a19, #2e36a3);


}

@media (max-width: 700px) {
    body{
        height: 100vh;
    }
    .contenedor-img {
        height: 30%;
    }
    .titulo-presentacion .titulo-h1{
    
        font-size: 45px;
    }

    .presentacion-section {
        background: linear-gradient(to left, #191a19, #2e36a3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
 

    .img-formato {
        width: 250px;
        height: 50%;
    }

    .footer-presentacion {
        margin: 0;
        padding: 0;
        height: 60px;
        background: linear-gradient(to left, #6a5c9c, #2ea376);

    }
    .art-li {
    
        background-color: rgb(48, 192, 67);
        border: 4px solid rgb(80, 192, 46);
    }
}